:root {
  --color-primary: #1967d2;
  --color-primary-bg: #e8f0fe;
  --color-text: #202124;
  --color-border: #ccc;
  --color-border-hover: #b3b3b3;
  --color-bg-hover: #f1f3f4;
  --color-white: #ffffff;
  --color-page-bg: #f0ebf8;
  --color-brand-purple: #673ab7;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-page-bg);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loader {
  background: var(--color-white);
  padding: 30px 60px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--color-brand-purple);
  font-weight: 500;
}