.questionCard {
    background: white;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
}

.questionHeader {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid transparent;
    background: #f8f9fa;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.input:focus {
    background: #eee;
    border-bottom: 2px solid #673ab7;
}

.selectWrapper {
    min-width: 200px;
}

.selectWrapper :global(.form-select__control) {
    min-width: 200px;
    padding: 2px;
    border-radius: 4px;
    border-color: var(--color-border);
    box-shadow: none;
    background-color: var(--color-white);
}

.selectWrapper :global(.form-select__control:hover) {
    border-color: var(--color-border-hover) ;
}

.selectWrapper :global(.form-select__control--is-focused) {
    border-color: var(--color-border-hover);
    box-shadow: none;
}

.selectWrapper :global(.form-select__menu) {
    z-index: 10;
    background-color: var(--color-white);
}

.selectWrapper :global(.form-select__option) {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-text);
}

.selectWrapper :global(.form-select__option--is-focused) {
    background-color: var(--color-bg-hover);
}

.selectWrapper :global(.form-select__option--is-selected) {
    background-color: var(--color-primary-bg);
    color: var(--color-primary);
}

.selectWrapper :global(.form-select__option:active) {
    background-color: var(--color-primary-bg);
}
