.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.createButton {
  padding: 10px 20px;
  background-color: #673ab7;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.formList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}



.link:hover {
  text-decoration: underline;
}
